{% extends 'base.html' %}
{% load static %}

{% block title %} About Me{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about">
    <h1> About Horus Platform</h1>
    <div class="o-courses">
        <div>
            <img src="{% static 'images/ocourses.jpg' %}">
        </div>
        <div>
            <p>A courses platform is an online system that provides access to educational content, allowing users to
                learn new skills, gain certifications, or advance their knowledge in various fields. This platforms
                offer diverse courses, often featuring video lectures, interactive assignments, quizzes, and discussion
                forums. They cater to students, professionals, and hobbyists, enabling flexible learning at their own
                pace.
            </p>
        </div>
    </div>
    <div class="o-teaching">
        <div>
            <p> A platform that enables educators to create, manage, and deliver lessons to students in a structured and
                interactive manner. These platforms provide tools for video lectures, live classes, quizzes,
                assignments, and student engagement through forums or chat features. They cater to schools,
                universities, and independent instructors, offering flexibility for both in-person and remote learning.
            </p>
        </div>
        <div>
            <img src="{% static 'images/oteaching.png' %}">
        </div>
    </div>
</div>
{% endblock content %}