{% extends 'base.html' %}


{% block title %} Contact Us {% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="contact">
    <img class="img" src="{% static 'images/contact1.png' %}">
    <form id="email form" class="contact-info" method="POST" action=".">
        <div class="info">
            {% csrf_token %}

            <div class="one">
                {{ form.name }}
            </div>

            <div class="one">
                {{ form.email }}
            </div>

            <div class="one">
                {{ form.message }}
            </div>
        </div>

        <button class="d-flex btn btn-dark btn-outline-light">Send Message</button>
    </form>
</section>
{% endblock content %}