{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">

    <h1> Welcome to </h1>
    <img src="{% static 'images/logo1.jpg' %}">

    <h2> What is Horus? </h2>
    <p>
        This is an online teaching platform that provides a flexible and interactive environment for educators to
        conduct virtual classes. These platforms typically offer features like video conferencing, screen sharing,
        virtual whiteboards, and chat functions, enabling seamless communication between instructors and students. Tools
        like assignment submission portals, quizzes, and progress tracking allow educators to manage and assess student
        performance effectively. Many platforms also integrate with third-party apps to enhance the learning experience,
        such as cloud storage for sharing resources or collaboration tools for group projects. This makes online
        teaching platforms ideal for delivering courses to a global audience, offering convenience and accessibility for
        both instructors and learners.
    </p>

</div>
{% endblock %}