body {
    background-color: var(--bk-color-3);

}

.contact {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.contact h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 3rem;
    letter-spacing: 0.06rem;
    color: var(--bk-color-2);

}

.contact-info {
    display: block;
}


.contact-info button {
    width: 125px;
    margin-top: 5px;
    border-radius: 6px;
    margin-left: 300px;
}



.contact-info div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 9px;
    background-color: var(--bk-color-4);
}

.contact button:hover {
    background-color: var(--bk-color-2);
}

.contact .btn {
    background-color: rgba(245, 245, 245, 0.301);
    box-shadow: 0 0 10px var(--bk-color-2);
}