

.courses2 hr {
    margin-top: 5px;
}

h1{
    color: var(--text-color-6);
}


h5 {
    color: var(--text-color-2);
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: medium;
}

h4 {
    margin-top: 20px;
}

.update-lecture input {
    margin-bottom: 20px;
}

.courses1{
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 63, 72);
    font-size: x-large;

}
.courses1 hr{
    margin-top: -3px;
    margin-bottom: -6px;
}
.lectures1 hr{
    margin-top: -1px;
    margin-bottom: -1px;
}

.courses2 a{
    color: var(--text-color-6);
}


.course-list .btn {
    font-size: 10px;
    margin-left: 9px;
}

