body {
    background-color: var(--bk-color-1);
}

.home {
    max-width: auto;
    padding-top: 30px;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 36.5%;
    margin-right: 24%;
}

.home-img {
    border-radius: 21px;
    margin-bottom: 50px;
    margin-left: 22%;
    margin-right: 22%;
}


.home h2 {
    color: rgba(220, 233, 230, 0.911);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.home p {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
    font-size: x-large;
}

.home a {
    background-color: rgba(245, 245, 245, 0.301);
    color: var(--bk-color-2);
    margin-left: 865px;
    margin-right: 880px;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}



@media(max-width:767px) {

    /* Rules for Mobiles */
    .home img {
        max-width: 65%;
        margin-left: 50px;
    }
}