.login {
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color-2);
    text-align: center;
    margin-top: 4rem;
}

.login h1 {
    color: var(--bk-color-2);
    text-align: center;
    margin-bottom: 22px;
}

.login .question {
    display: block;
    text-align: center;
    color: rgba(220, 233, 230, 0.911);
}

.login .signup-link a {
    color: var(--bk-color-2);
    text-align: center;
}

.login .signup-link a:hover {
    color: var(--bk-color-4);
    text-align: center;
}



button {
    background-color: var(--bk-color-1);
    color: var(--bk-color-2);
    margin-left: 250px;
    margin-right: 387px;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--bk-color-2);
}

button:hover {
    background-color: var(--bk-color-2);
    color: var(--bk-color-1);
}

.login {
    box-shadow: 0 0 10px var(--bk-color-1);
}


@media(max-width:767px) {

    /* Rules for Mobiles */
    .login .question {
        text-align: left;
    }

    .login .signup-link {
        text-align: left;
    }

    .signup input {
        width: 100%;
        padding: 5px;
    }

    .login .question {
        margin-left: 200px;
    }

}