.signup {
    max-width: 700px;
    padding: 20px;
    background-image: url('/static/images/logo1.jpg');
    background-size: 100% 100%;
    border: 2px solid var(--bk-color-2);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4rem;
}


.signup h1 {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin-bottom: 22px;
}

.signup .helptext {
    display: block;
    color: white;
    margin-top: 13px;
}

.signup label {
    width: 110px;
    text-align: right;
}

.signup button {
    margin-top: 8px;
    background-color: var(--bk-color-2);
    color: var(--bk-color-1);
}

@media(max-width:767px) {

    /* Rules for Mobiles */
    .signup {
        text-align: left;
    }

    .signup label {
        display: block;
        text-align: left;
    }

    .signup input {
        width: 100%;
        padding: 5px;
    }

    .signup {
        margin-bottom: 10px;
        margin-top: 20px;
    }

}

@media (min-width: 768px) {
    /*Rules for Desktops only */
}