{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock css %}


{% block content %}
{% if user.is_superuser %}
<div class="delete">
    <form method="post">
        {% csrf_token %}
        <h1>Are you sure to delete topic: {{lecture.title}}?</h1>
        <hr>
        <div class="body-text">
            {{lecture.body|safe}}
        </div>
        <button class="btn btn-outline-danger btn-sm">Yes, delete topic</button>
        <a class="btn btn-outline-info btn-sm" href="{% url 'detail_lecture' lecture.id %}">Cancel</a>
    </form>

</div>

{% endif %}
{% endblock content %}