{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}

<div class="details">
    <h3>{{lecture.title}}</h3>
    <hr />
    <div class="body-text">
        {{lecture.body|safe}}
    </div>

</div>

{% if user.is_superuser %}
<a class="btn btn-light btn-outline-dark btn-sm" href="{% url 'update_lecture' lecture.id %}">Edit</a>
<a class="btn btn-light btn-outline-dark btn-sm" href="{% url 'delete_lecture' lecture.id %}">Delete</a>

{% endif %}
{% endif %}
{% endblock content %}