{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock css %}

{% block content %}
<div class="list-courses">
    <div class="head">
        <h1>Your Courses</h1>
        <a href="{% url 'create_course' %}" class="btn btn-outline-primary">
            Create New Course</a>
        <a href="{% url 'create_lecture' %}" class="btn btn-outline-primary">
            Create New Topic</a>
    </div>

    {# Course list #}

    {% for course in course_list %}
    <div class="courses">
        <h4>{{course.course}}</h4>

        <hr />

        {% for lecture in course.lectures.all %}
        <h5>{{lecture.title}}</h5>
        {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock content %}