{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock css %}

{% block content %}
<div class="lists">

    <div class="head">
        <h1>Your Topics</h1>
        <a href="{% url 'list_course' %}" class="btn btn-outline-light">
            All Courses</a>
        {% if user.is_superuser %}
        <a href="{% url 'create_lecture' %}" class="btn btn-outline-light">
            Create New Topic</a>
        {% endif %}
    </div>

    {# Course list #}

    {% for lecture in lecture_list %}
    <div class="courses2">

        <a class="lectures1" href="{% url 'detail_lecture' lecture.id %}">{{lecture.title}}</a>
        <hr />
        <h5>Course: {{lecture.course}}</h5>


    </div>
    {% endfor %}
</div>
{% endblock content %}