{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}

<div class="lists">

    <div class="head">
        <h1>Your Courses</h1>
        {% if user.is_superuser %}
        <a href="{% url 'create_course' %}" class="btn btn-dark btn-outline-light">
            Create New Course</a>
        <a href="{% url 'create_lecture' %}" class="btn btn-outline-light">
            Create New Topic</a>
        {% endif %}
    </div>

    {# Course list #}

    {% for course in course_list %}
    <div class="course-list">
        <a class="courses1" href="{% url 'detail_course' course.id %}">{{course.course}}</a>
        {% if request.user.is_superuser %}
        <a class="btn btn-outline-info btn-sm" href="{% url 'update_course' course.id %}">Edit</a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_course' course.id %}">Delete</a>
        {% endif %}

        <hr>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock content %}